.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 0 20px 0 rgba(46, 61, 73, .15);
    border-radius: 6px;

    .search {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media screen and (max-width: 760px) {
            flex-direction: column;
        }
    }
}

.header {
    font-size: 20px;
    margin: 30px auto;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.inputField {
    width: calc((100% - 80px)/2);
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(#ccc, 0.2);

    @media screen and (max-width: 760px) {
        width: 100%;
    }

    .input {
        height: 34px;
    }
}

.error {
    height: 16px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
    color: red;
}

.loginNow {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &>span {
        cursor: pointer;
        margin-left: 5px;
        color: #55bbea;
    }
}

.carList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 760px) {
        flex-direction: column;
    }
}

.results {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
}

.car {
    border-radius: 3px;
    cursor: pointer;
    width: calc((100% - 80px)/2);
    display: flex;
    margin: 20px 0;
    padding: 20px;
    align-items: flex-start;
    border: 2px solid #d8d8d8;
    transition: transform 200ms ease-in;
    justify-content: flex-start;

    @media screen and (max-width: 760px) {
        width: 100%;
    }

    &:hover {
        transform: scale(1.02);
    }

    .icon {
        height: 60px;
        width: 60px;
        margin-right: 16px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('https://icon-library.net/images/my-profile-icon-png/my-profile-icon-png-3.jpg');
    }

    .carInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 16px;

        &>div {
            margin-top: 6px;
            font-size: 12px;
            font-weight: 400;

            &>span {
                font-weight: 600;
            }
        }
    }

    &.selected {
        border: 2px solid #60b91f;
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.4;
    }

    .rating {
        margin-left: auto;
        font-weight: 600;
        font-size: 16px;
        margin-top: 6px;
        font-size: 12px;
        font-weight: 400;

        &>span {
            font-weight: 600;
        }
    }
}